  <div class="container" id="topnav">

    <ul class="nav navbar-nav navbar-left" id="topnavmenu">
    </ul>

      <ul class="nav navbar-nav navbar-right" id="topnavmenu">
        <li><a href="#">"Order Today for Same Day Shipping."</a></li>
        <li><a href="#">Help</a></li>
        <li class="divider"></li>
        <li><a style="padding-top: 5px;
padding-bottom: 5px;"class="" id="login-button" href="#">Login</a></li>
        <li><a id="cart-link-container"><i class="fa fa-shopping-cart fa-3" id="cart-icon"></i></a></li>

      </ul>
  </div><!-- /.container-fluid -->






<nav class="navbar navbar-default" role="navigation" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="brandname">Hundred Smiles</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="rightnav">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">INSIDE THE BOX</a></li>
        <li class="divider"></li>
        <li><a href="#">JOIN THE CLUB</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<div id="carousel" class="carousel slide carousel-fade">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>

</div>
