// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#X{
  font-family: 'Arbutus', cursive;
  font-size: 64px;
}

#top-headline{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

#topnavmenu {
  margin-right: 5px;
}

#topnav{
  width: 100%;
  background-color: rgb(24, 113, 119);
  margin-bottom: 0px;
  height: 34px;
  border-bottom: ridge 2px #FFFFFF;
}


#navbar{
  height: 64px;
  background-color: white;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  border-bottom: ridge 2px #FFFFFF;
  margin-bottom: 0px;
}

#cart-link-container{
  padding-bottom: 8px;
}

#cart-icon{
  font-size: 23px;
}

#topnavmenu > li > a:hover {
text-decoration: none;
background-color: transparent;
color: rgb(136, 250, 214);
}


#login-button{
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-top: 3px;
  background-color: transparent;
  padding-bottom: 4px;
  padding-top: 2px;

}

#topnavmenu > li > a {
  color: #FFFFFF;
  padding-bottom: 0px;
  padding-top: 7px;
}

.navbar-default .navbar-nav>li>a {
  color: red;
}

#rightnav{
  padding-top: 9px;
  margin-right: 40px;
}

#rightnav > li > a{
  color: #046380;
}


#brandname{
  color:  rgb(44, 76, 98);
  font-size: 39px;
  padding-top: 20px;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #E7E08F;

}

#carousel{
  height: 588px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
  background-image: url('https://s3.amazonaws.com/rolands_pics/hundred_smiles/magenta.png');
  background-size: 1444px 600px;
}
.item:nth-child(2) {

  background-image: url('https://s3.amazonaws.com/rolands_pics/hundred_smiles/hangers.jpg');
  background-size: 1444px 600px;
}
.item:nth-child(3) {
  background: orange;
}



